@model People 
@{
    ViewData["Title"] = "Оформление заказа";
}

<h1>Оформление заказа</h1>
<form asp-antiforgery="true" asp-controller="Order" asp-action="AddPersonInfoToOrder" method="post">
    <div class="border p-3 mt-4">
        <div class="row">
            <h2 class="text-primary">Персональная информация</h2>
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Name">Имя</label>
            <input class="field form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <br>
            <label asp-for="Surname">Фамилия</label>
            <input class="field form-control" asp-for="Surname" />
            <span asp-validation-for="Surname" class="text-danger"></span>
            <br>
            <label asp-for="Email">Email</label>
            <input class="field form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br>
            <label asp-for="PhoneNum">Номер телефона</label>
            <input class="field form-control" asp-for="PhoneNum" /> 
        </div>
        <button type="submit" class="btn btn-success" style="width: 150px;">К оплате</button>
        <a class="btn btn-secondary" asp-controller="Cars" asp-action="List" style="width: 200px">Обратно к каталогу</a>
    </div>
</form>