@model Order 
@{
    ViewData["Title"] = "PersonInfoForm";
}

<h1>Оформление заказа</h1>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row">
            <h2 class="text-primary">Персональная информация</h2>
        </div>
        <div class="mb-3">
            <label asp-for="People.Name">Имя</label>
            <input class="field" asp-for="People.Name" />

            <label asp-for="People.Surname">Фамилия</label>
            <input class="field" asp-for="People.Surname" />

            <label asp-for="People.Email">Email</label>
            <input class="field" asp-for="People.Email"/>

            <label asp-for="People.PhoneNum">Номер телефона</label>
            <input class="field" asp-for="People.PhoneNum" />

            <label asp-for="People.Adress">Адрес квартиры или дома</label>
            <input class="field" asp-for="People.Adress" />
        </div>
        <button type="submit" class="btn btn-success" style="width: 150px;">К оплате</button>
        <a class="btn btn-secondary" asp-controller="Cars" asp-action="List" style="width: 200px">Обратно к каталогу</a>
    </div>
</form>