@{
    ViewData["Title"] = "DisplayOrderInfo";
}

<h1>Информация о заказе</h1>
<p>Заказ успешно оформлен.</p>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index" style="width: 200px">К главной странице</a>